<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html>

<div th:fragment="copy" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

    <footer class="footer">
        <div class="container">
            <p class="text-muted">IOTDAS - TCS SENAC 2017 (ADS2015)</p>
        </div>
    </footer>

    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/prismjs/1.6.0/themes/prism.js}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</div>

    <script src="/js/modal.js"></script>
    <script src="/js/delete.js"></script>

</html>
