<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

<div class="container">

    <h3>Visão Geral</h3>
    <ul>
        <li>Todas as informações de pessoa e tipo são obtidas via interface RESTful HATEOAS para seus determinados microserviço.</li>
        <li>Em USO: Spring Cloud, Feign Client, Thymelef</li>
    </ul>

</div>

<div th:replace="footer :: copy"></div>

</body>
</html>
